/*FRONT PAGE STYLING*/
* {
  font-family: 'Cinzel', serif;
}
body {
  text-align: center;
  background-color: #f2f2f2;
}
#wrap {
  margin: 0 auto;
  display: block;
  margin: 0px auto;
  font-family: Verdana;
  background-color: #f2f2f2;
}
.left-border {
	width:10px;
	height: 100%;
	background:#000;
	display: block;
	position: fixed;
	z-index:9999;
	top:0;
	left: 0;
}

.right-border {
	width:10px;
	height: 100%;
	background:#000;
	display: block;
	position: fixed;
	z-index:9999;
	top:0;
	right: 0;
}

.top-border {
	width:100%;
	height: 10px;
	background:#000;
	display: block;
	position: fixed;
	z-index:9999;
	top:0;
	left: 0;
}

.bottom-border {
	width:100%;
	height: 10px;
	background:#000;
	display: block;
	position: fixed;
	z-index:9999;
	left:0;
	bottom: 0;
}

.center {
margin: 0 auto;
width: 100%;
height: auto;
}

.heading {
  text-align: center;
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.bodycopy { width: 66.66%;
  margin: auto;
  font-size: 1.5em;
  color: grey;
  font-weight: lighter;
}

.gradient {
  height: 15px;
  width: 50%;
  margin: auto;
  background-color: grey;
  background-image:
    linear-gradient(
      to right,
        #f2f2f2, grey, #f2f2f2
      );
}

.row {
  color: #f2f2f2;
  display: inline;
}

a:link {
  color: grey;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li2 {
  margin-right: 75px;
}

.footer {
position: relative;
float: left;;
width: 25%;
height: auto;
}
/*TABLE STYLING */
td:nth-child(1) {
  background: #006600;
  color: #f2f2f2;
}
th {
  background-color: #006600;
  color: #f2f2f2;
  padding-right: 5px;

}

td {
  border: 1px solid black;
  text-align: center;
}

h3 {
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}
