 * {
  font-family: Verdana;
  background: #4d1a00;
  color: #cccccc;
}
th {
  background-color: #006600;
  color: white;
  padding-right: 5px;

}
td {
  border: 1px solid black;
  text-align: center;
}
td:nth-child(1) {
  background: #006600;
  color: white;
}
.opening {
  font-size: 10;
  justify-content: center;
}
.right {
  border: 2px solid #006600
  float: right;
  margin: 0 0 10px 10px;
  position: static;
  height: 15em;
}
.left {
  float: left;
  border: 2px solid #006600
  margin: 0px 10px 0px 0px;
  padding: 20px;
  height: 15em;
}
h1 {

}
span {
  font-size: 55px;
  border: 2px solid #006600;
  border-style: double;
  border-width: 5px 5px 5px 5px;
  padding: 10px;
  display: table;
  margin: 0 auto;

}
h2 {
  text-align: center;
  border: : 2px solid #006600;
  display: table;
  margin: 0 auto;
}
.center
{
  display: block;
      margin-left: auto;
      margin-right: auto;
      height: 15em;
}
legend {
  font-size: 35px;
  text-align: center;
}
button {
    border: 5px solid black
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
